#header{
    text-align: center;
    height: 10%;
    color: whitesmoke;
    background: cadetblue;
    padding: 10px 0 10px 0;
}

#footer{
    text-align: center;
    color: whitesmoke;
    height: 10%;
    background: cadetblue;
    padding: 10px 0 10px 0;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    background: antiquewhite;
    font-size: large;
    height: 100%;
}

body {
    margin: 0;
}

.flex-container {
    height: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-item {
    margin: 5px;
    text-align: center;
}